@CHARSET "UTF-8";

.forecast_item {
	display: inline-block;
	width: 3em;
	margin: .2em;
	text-align: center;
	background-color: #BBD8DC !important;
}

.forecast_icon {
	width: 80%;
}

.badge {
  font-size: 11pt;
  color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #60AD8B;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}

.not-found {
	color: red;
	font-size: 15pt;
}

.suggestions{
    border:solid 1px #f1f1f1;
    position:absolute;
    width:600px;
    background: white;
}

.suggestions ul{
    padding: 0px;
    margin: 0px;
}

.suggestions ul li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.suggestions ul li a{
    padding:5px;
    display: block;
    text-decoration: none;
    color:#7E7E7E;
}

.suggestions ul li a:hover{
    background-color: #f1b1b1;
}

.a_hover{
	background-color: #f19191;
}

