<div>
    <h1>Weather Forecast</h1>
    <p>You're logged in! <a [routerLink]="['/login']">Logout</a></p>
    <br>
    <div>
        <label>Please input city name:</label>
        <div>
            <div class="input-field col s12">
                <input class="form-control" [(ngModel)]="selectedCity" (keyup)=filterCity($event) placeholder="City name">
            </div>
            <div class="suggestions" *ngIf="filteredCityList.length > 0">
                <ul *ngFor="let item of filteredCityList; let idx = index" >
                    <li [ngClass]="{'a_hover': idx == selectedCityIdx}">
                        <a (click)="selectCity(item)">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="onSendClick(selectedCity)">Send</button>
        
    </div>
    <br>
    
    <div *ngIf="hasResult">
        <h3>{{forecast.city}} ({{forecast.country}}) weather forecast</h3>
        <br>
        
        <table>
        <tr>
            <td *ngFor="let item of forecast.items"> 
               <div class="forecast_item">
                   <div>{{item.weekDay}}</div>
                   <div>{{item.localTime}}</div>
                   <img class="forecast_icon" [src]="imgfolder + item.iconName">
                   <div>{{item.temperature}}</div>
               </div>
            </td>
        </tr>
        </table>
    </div>
    
    <div *ngIf="hasResult === false && sendButtonClicked === true" class="not-found">
        {{forecast.city}} is not found.
    </div>
    
    <br>
    <div>
    <h3>Your favorite cities</h3>
        <br>
        <div>
            <div class="input-field col s12">
                <input class="form-control" [(ngModel)]="favoriteFilter" (keyup)=filterFavorite($event) placeholder="Favorite filter">
            </div>
        </div>
         <br>
        <table class="table">
        <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tr *ngFor="let item of filteredFavorites">
           <td>{{item.country}}</td>
           <td><div class="badge" (click)="onSendClick(item.city)">{{item.city}}</div></td>
           <td><button class="btn btn-primary" (click)="onRemoveClick(item.city)">Remove</button></td>
        </tr>
        </table>    
    </div>
</div>