$accentColor = #CFA809
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.navbar
  background-color #142a9e

.navbar
  .site-name
    color #ffffff

  .nav-links a
    color #ffffff
    &:hover, &.router-link-active
      color #ffffff